
    <% newitems.forEach(function(item) { %>
        <h2 id="title"> <%=  item.title %> </h2>
        <p id="content"> <%=  item.content %> </p>
       <% }) %>
        <button class="btn btn-primary">Previous</button>
    <button class="btn btn-primary" id="next">Next</button>
